# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

# Sender
/sender/.angular
/sender/.idea
/sender/.ionic
/sender/.sass-cache
/sender/.sourcemaps
/sender/.versions
/sender/.vscode
/sender/coverage
/sender/dist
/sender/node_modules
/sender/platforms
/sender/plugins
/sender/www

# Back-end
/backend/node_modules
/backend/config.json

# Firebase
/backend/.firebase
/backend/*-debug.log
/backend/.runtimeconfig.json